@import '~@angular/material/core/theming/prebuilt/indigo-pink';

html,
body {
  margin: 0;
  min-height: 100%;
  height: 100%;
}

.app-card-container {
  display: flex;
  padding: 10px;
}

.app-card {
  margin: 10px;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}